<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/staticFiles/abus.css">
</head>
<body>

<div id="navbar" class="navbar">
    <nav class="navigation">
        <ul>
            <li><a href="{{ url_for('mainpage') }}"><img class="logo_img" src="/staticFiles/EcoTrack.png" alt="ECO TRACK" /></a> </li>
            <li id="nav_url"><a id="About Us" href="{{ url_for('aboutus_page') }}">About Us</a></li>

            <li id="nav_url"><a href="{{ url_for('registration') }}">User Profile</a></li>
        </ul>
    </nav>
</div>




<div class = "Image">
    <img src="/staticFiles/Bard_Generated_Image (5).png" alt="About us image"/>
</div>

<div class = "para_container">

        EcoTrack: An inventory dashboard leveraging Database Management Systems (DBMS), Machine Learning (ML), and Web Development. It provides comprehensive insights into restocking, sales, and inventory management, promoting efficiency and sustainability. EcoTrack streamlines inventory processes, fostering cost savings and environmental responsibility

    </div>
<div class="ReadMore">
    <p id="more content" style="display:none">
        At the same time, it also helps users to find relevant products and make a marketplace easier for the consumers while making it sustainable, reducing waste, and promoting responsible resource consumption which can be frustrating on other solutions. 
        It helps the environment by avoiding excess inventory leading to reduced costs while also making sure there is no insufficient inventory which can result in loss of sales and customer dissatisfaction. 
        EcoTrack aims to address these problems by providing real-time insights into inventory management and making a marketplace easier for consumers to use while making it sustainable, reducing waste, and promoting responsible resource consumption.
        
    </p>

      
</div>



</body>