<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoTrack Seller Dashboard</title>
    <link rel="stylesheet" href="C:\Users\aakash\Desktop\BCA\4th SEM\DBMS PROJECT\staticFiles\products.css">
</head>
<body>

    <h1>EcoTrack Seller Dashboard</h1>

<div class="product-container">


    <div class="product">
        <img src="C:\Users\aakash\Desktop\BCA\4th SEM\DBMS PROJECT\staticFiles\Profile_Pics\aakashalloriaq1112Eco_Track_Logo.png" alt="Product Image">
        <div class="contents">
            <h2>Product Name</h2>
            <p>Description of the product goes here.</p>
            <p><strong>Seller Name:</strong> ABC Seller</p>
        </div>
        <div class="stock">
        <p ><strong>Stock Quantity:</strong> 10</p>
        <button onclick="buyProduct()">Buy Now</button>
        </div>
    </div>
    <div class="product">
        <img src="C:\Users\aakash\Desktop\BCA\4th SEM\DBMS PROJECT\staticFiles\Profile_Pics\aakashalloriaq1112Eco_Track_Logo.png" alt="Product Image">
        <div class="contents">
            <h2>Product Name</h2>
            <p>Description of the product goes here.</p>
            <p><strong>Seller Name:</strong> ABC Seller</p>
        </div>
        <div class="stock">
        <p ><strong>Stock Quantity:</strong> 10</p>
        <button onclick="buyProduct()">Buy Now</button>
        </div>
    </div>
  <div class="product">
        <img src="C:\Users\aakash\Desktop\BCA\4th SEM\DBMS PROJECT\staticFiles\Profile_Pics\aakashalloriaq1112Eco_Track_Logo.png" alt="Product Image">
        <div class="contents">
            <h2>Product Name</h2>
            <p>Description of the product goes here.</p>
            <p><strong>Seller Name:</strong> ABC Seller</p>
        </div>
        <div class="stock">
        <p ><strong>Stock Quantity:</strong> 10</p>
        <button onclick="buyProduct()">Buy Now</button>
        </div>
  </div>
</div>
</body>

</html>